VITE_SUPABASE_URL=sb_publishable_LHeNYRYtbdOSu8Pq9Cgwwg_ufJ5pYDV
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqc2tib2FqY2hsaGJhZmFubXl3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDI2NjAxNiwiZXhwIjoyMDc1ODQyMDE2fQ.1BOwr0BgOOIfvaq74TJys1EKqnt1ys-kprxb6IdH43s